<ul class="nav nav-pills sub-nav">
  <li class="nav-item">
    <a class="btn btn-outline-primary <%= 'active' if active_tab == 'purchases' %>" href="/purchases/report">Purchases</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-primary <%= 'active' if active_tab == 'payments' %>" href="/payments/report">Payments</a>
  </li>
</ul>